<html>
  <head></head>
  <body>
    <h1>Music Library</h1>
    <p>
      <div><a href="/albums">View all Albums</a></div>
      <div><a href="/artists">View all Artists</a></div>
      <div><a href="/albums/new">Add an Album</a></div>
      <div><a href="/artists/new">Add an Artist</a></div>
    </p>
  </body>
</html>