<html>
  <head></head>
  <body>
    <h1>Add a Album</h1>
      <form action="/albums" method="POST">
        <div>
          <label>Title:</label><br />
          <input type="text" name="title"><br /><br />
        </div>

        <div>
          <label>Release year:</label><br />
          <input type="text" name="release_year"><br /><br />
        </div>

        <div>
          <label>Artist:</label><br />
          <select name="artist"><br /><br />
            <% @artists.each do |artist|%>
              <option><%= artist.name%></option>
            <%end%>
          </select>
        </div>

        <input type="submit">
      </form>
  </body>
</html>