<html>
  <head></head>
  <body>
    <h1>Add a Album</h1>
      <form action="/albums" method="POST">
        <label>Title:</label><br />
        <input type="text" name="title"><br /><br />
        <label>Release year:</label><br />
        <input type="text" name="release_year"><br /><br />
        <label>Artist ID:</label><br />
        <input type="text" name="artist_id"><br /><br />
        <input type="submit">
      </form>
  </body>
</html>