<html>
  <head></head>
  <body>
    <h1>Add a Artist</h1>
      <form action="/artists" method="POST">
        <div>
          <label>Name:</label><br />
          <input type="text" name="name"><br /><br />
        </div>

        <div>
          <label>Genre:</label><br />
          <input type="text" name="genre"><br /><br />
        </div>

        <input type="submit">
      </form>
  </body>
</html>